// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-main: #f00;
$header-main-hover: #0f0;

div	{
  padding-left: 20px;
  h1 {
	color: $header-main;
	&:hover {
	  color: $header-main-hover;
	}
  }
}
